@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --yellow: #f9d806;
    --light-yellow: #ffee80;
    --black: #130f40;
    --light-color: #666;
    --border: 1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

section{
    padding: 4.5rem 0 1.5rem;
}

*{
    font-family: 'Popins',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:lightgray;
    color: black;
    font-weight: 500;
    font-size: 1.9rem;
    cursor: pointer;
    padding: 1rem 5rem;
}

.btn:hover{
    background: burlywood;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .logo span{
    color: darkred;
}

.header .navbar a{
    font-size: 1.9rem;
    margin: 1.8rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: burlywood;
}

.header .btn{
    margin-top: 0;
}

.header #login-btn i{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    display: none;
}

body{
    height: 300rem;
}

.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.login-form-container{
    position: fixed;
    top: -105%; left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.login-form-container.active{
    top: 0;
    opacity: 1;
}

.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align: center;
    width: 40rem; 
}

.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login-form-container form h3{
    color: var(--black);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: none;
}

.login-form-container form .box{
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color: var(--black);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
}

.login-form-container form p{
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
}

.login-form-container form p a{
    color: black;
    text-decoration: underline;
}

.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.container{
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    overflow: hidden;
}

.container img{
    width: 900px;
    position: absolute;
    bottom: -50px;
    right: 100px;
}

.home-text{
    padding: 0 200px;
}

.home-text span{
    font-weight: 800;
    text-transform: uppercase;
    color: darkred;
}

.home-text h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: none;
}

.btn1{
    padding: 1rem 5rem;
    background-color: lightgray;
    color: black;
    font-weight: 800;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 00.5rem;
    max-width: 160px;
}

.btn1:hover{
    background: burlywood;
}

.heading{
    text-align: center;
}

.heading span{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.heading h1{
    font-size: 2rem;
}

.ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 0.5rem;
    margin-top: 2rem;
    border: black;
}

.ride-container .box{
    text-align: center;
    padding: 50px;
}

.ride-container .box h2{
    font-size: 2rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}

.ride-container .box p{
    font-size: 1.5rem;
}

.box3{
    background: lightgrey;
}

.box4{
    background: lightgrey;
}

.box5{
    background: lightgrey;
}

.listofcars{
max-width: 968px;
margin-left: auto;
margin-right: auto;
}

.listofcars-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,auto)); 
    gap: 3rem;  
    margin-top: 5rem; 
}

.listofcars-container .box{
    padding: 100px; 
    box-shadow: 1px 2px 11px 4px;
    border-radius: 0.5rem;
    position: relative;
}

.listofcars-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.mileage{
    font-size: 13.5px;
}

.fuel{
    font-size: 13.5px;
}

.about_us{
    max-width:968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(21rem,auto));
    align-items: center;
    gap: 1.5rem;
}

.about_us img{
    width: 100%;
}

.about-text span{
    font-weight: 1000;
    text-transform: uppercase;
    color: black;
    font-size: 25px; 
}

.about-text p{
    margin: 0.5 rem 0 1rem;
    font-size: 15px;
}

.contactus{
    max-width: 10000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: lightgray;
    border-radius: 0.5rem;
    padding: 20px;
}

.contactus-box span{
    font-size: 15px;
    margin-left: 15px;
}

.contactus-box p{
    font-size: 14px;
    margin-left: 15px;
}

.social a{
  font-size: 20px;
  margin-left: 15px;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem
}

.footer-box h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a{
    color: black;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.footer-box a:hover{
    color:burlywood;
}

.footer-list{
    display: flex;
    flex-direction: column;
}

.footer-list p{
    font-size: 1.6rem;
}

.span{
    font-size: 1.5rem;
}

.footer-box span{
    font-size: 1.3rem;
}

